<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>
    <!-- the classes 'page-header' and 'btn btn-dark' create bootstrap components.  -->
    <!-- Check out more components here: http://getbootstrap.com/components/ -->
    <div class="page-header">
    <% include ../helpers/navbar %>
    <h1>Hubspot Authentication and APIs</h1>
    <p>Here, we will walk through the OAuth process for hubspot, and a simple API call after this has completed.</p>
    </div>

    <% if (token) { %> 
        <p>You're authenticated using token <%= token %></p>
        <p>Your countacts: 
            <% contacts.forEach(function(contact) { %>
                <li><%= contact.properties.firstname %> <%= contact.properties.lastname %></li>
            <% }); %>            
        </p>
    <% } else { %> 
        <p>You're not authenticated!</p>
        <p>Would you like to <a href= <%= authUrl %> >authenticate</a>?</p>
    <% } %>
  
</body>

</html>
